<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Add Trip Manually</title>
</head>
<body>
    <h1>Add Trip Manually</h1>
    <form method="POST">
        <label for="guest_name">Guest Name</label>
        <input type="text" name="guest_name" rows="1" cols="50"></input>
        <br>
        <label for="adults">Adults</label>
        <input type="text" name="adults" rows="1" cols="50"></input>
        <br>
        <label for="children">Children</label>
        <input type="text" name="children" rows="1" cols="50"></input>
        <br>
        <label for="children_below_six">Children Below Six</label>
        <input type="text" name="children_below_six" rows="1" cols="50"></input>
        <br>
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" rows="1" cols="50"></input>
        <br>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" rows="1" cols="50"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>